<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/mzx.css">
    <script src="../js/vue.js"></script>
    <script src="../js/axion.js"></script>
</head>

<body>
    <div id="app">

        <div v-for="(tab,index) in data" :key="index" class="new">
            <div class="list-cell" @click="bindClick(index)">
                <div class="media-list" v-if="tab.title">
                    <div
                        :class="{'media-image-right': tab.article_type === 2, 'media-image-left': tab.article_type === 1}">
                        <p class="media-title"
                            :class="{'media-title2': tab.article_type === 1 || tab.article_type === 2}">{{tab.title}}
                        </p>
                        <div v-if="tab.image_list || tab.image_url" class="image-section"
                            :class="{'image-section-right': tab.article_type === 2, 'image-section-left': tab.article_type === 1}">
                            <img class="image-list1"
                                :class="{'image-list2': tab.article_type === 1 || tab.article_type === 2}"
                                v-if="tab.image_url" :src="tab.image_url" />
                            <img class="image-list3" v-if="tab.image_list" :src="source.url"
                                v-for="(source, i) in tab.image_list" :key="i" />
                        </div>
                    </div>
                    <div class="media-foot">
                        <div class="media-info">
                            <span class="info-text info">{{tab.source}}</span>
                            <span class="info-text">{{tab.comment_count}}条评论</span>
                            <span class="info-text">{{tab.datetime}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        
        new Vue({
            el: "#app",
            data() {
                return {
                    data: [
                        {
                            "datetime": "一天前",
                            "article_type": 0,
                            "title": "80后股市奇才，自创主力吸筹战法，引大量媒介报道！",
                            "image_url": "../img/recom02.png",
                            "source": "推荐",
                            "comment_count": 11395
                        },
                        {
                            "datetime": "40分钟前",
                            "article_type": 1,
                            "title": "中国暂停加拿大肉类进口 加政府质疑问题肉类来源",
                            "image_url": "../img/recom01.png",
                            "source": "专题",
                            "comment_count": 639
                        },
                        {
                            "datetime": "一天前",
                            "article_type": 2,
                            "title": "柳岩自曝为找男友去健身房撸铁 结果素颜无人识",
                            "image_url": "../img/recom03.jpg",
                            "source": "推荐",
                            "comment_count": 11395
                        },
                        {
                            "article_type": 3,
                            "image_list": [{
                                "url": "../img/recom05.jpg",
                                "width": 563,
                                "height": 316
                            }, {
                                "url": "../img/recom06.jpg",
                                "width": 641,
                                "height": 360
                            }, {
                                "url": "../img/recom07.jpg",
                                "width": 640,
                                "height": 360
                            }],
                            "datetime": "5分钟前",
                            "title": "张子枫甜美笑容下的百变造型",
                            "source": "DCloud",
                            "comment_count": 11
                        },
                        {
                            "datetime": "2小时前",
                            "article_type": 4,
                            "title": "2030年机器人或抢走2000万人“饭碗”",
                            "image_url": "../img/recom04.jpg",
                            "source": "DCloud",
                            "comment_count": 69
                        },
                        {
                            "datetime": "一天前",
                            "article_type": 1,
                            "title": "中国队止步女足世界杯8强 “玫瑰”何时再绽放",
                            "image_url": "../img/recom08.jpg",
                            "source": "推荐",
                            "comment_count": 11395
                        },
                        {
                            "datetime": "一天前",
                            "article_type": 2,
                            "title": "尤文重磅签约达协议！转会费超7000万 年薪1200万",
                            "image_url": "../img/recom09.jpg",
                            "source": "推荐",
                            "comment_count": 11395
                        },
                        {
                            "article_type": 3,
                            "image_list": [{
                                "url": "https://k.sinaimg.cn/n/ent/4_img/upload/0b3147ad/107/w683h1024/20190626/f343-hyzpvir1948052.jpg/w230h154f1t10l50q90c55.jpg",
                                "width": 563,
                                "height": 316
                            }, {
                                "url": "https://k.sinaimg.cn/n/ent/4_img/upload/0b3147ad/107/w683h1024/20190626/df72-hyzpvir1953951.jpg/w230h154f1t10l50q90c55.jpg",
                                "width": 641,
                                "height": 360
                            }, {
                                "url": "https://k.sinaimg.cn/n/ent/4_img/upload/0b3147ad/107/w683h1024/20190626/f247-hyzpvir1948042.jpg/w230h154f1t10l50q90c55.jpg",
                                "width": 640,
                                "height": 360
                            }],
                            "datetime": "5分钟前",
                            "title": "陈少霞挺孕肚与闺蜜吃饭",
                            "source": "DCloud",
                            "comment_count": 11
                        },
                        {
                            "datetime": "2小时前",
                            "article_type": 4,
                            "title": "杜江：如果秀恩爱能让大家关注贫困县 愿意天天秀",
                            "image_url": "https://s3.pfp.sina.net/ea/ad/7/3/68e5890a3e0d0e72ff10ac5228cb0700.jpg",
                            "source": "DCloud",
                            "comment_count": 69
                        }
                    ],
                }
            },
            // watch:{
            //     $route(to,from){
            //         console.log(to.path);
            //     }
            // },
            methods: {
                getdata() {
                    //console.log(this.data)
                    //     axios.get("https://api.apiopen.top/musicRankingsDetails?type=1").then(this.getdate)
                },
                // getdate(res) {
                //     let date = res.data.result
                //     console.log(date)
                //     this.data = date
                // },
                bindClick(index) {
                    //console.log(index)
                    if(index == "8"){
                        window.open("https://ent.sina.cn/zy/2019-06-27/detail-ihytcitk7992436.d.html?cre=tianyi&mod=whf&loc=12&r=0&rfunc=68&tj=cx_wap_whf&tr=12&vt=4&pos=108&his=0")
                    }else if(index == "7"){
                        window.open("https://photo.sina.cn/album_4_704_316400.htm?cre=tianyi&mod=whf&loc=11&r=0&rfunc=68&tj=cx_wap_whf&tr=12&vt=4&pos=108&his=0&hd=1")
                    }else if(index == "6"){
                        window.open("https://sports.sina.cn/seriea/juve/2019-06-27/detail-ihytcitk7939874.d.html?cre=tianyi&mod=whf&loc=9&r=0&rfunc=68&tj=cx_wap_whf&tr=181&vt=4&pos=108&his=0")
                    }else if(index == "5"){
                        window.open("https://k.sina.cn/article_1784473157_6a5ce645020019f1t.html?cre=tianyi&mod=whf&loc=4&r=0&rfunc=68&tj=cx_wap_whf&tr=12&vt=4&pos=108&his=0&http=fromhttp")
                    }else if(index == "4"){
                        window.open("https://news.sina.cn/2019-06-27/detail-ihytcitk7993018.d.html?cre=tianyi&mod=whf&loc=1&r=25&rfunc=68&tj=cx_wap_whf&tr=187&vt=4&pos=108&his=0")
                    } else if(index == "3"){
                        window.open("https://photo.sina.cn/album_4_704_316384.htm?cre=tianyi&mod=whf&loc=6&r=0&rfunc=68&tj=cx_wap_whf&tr=181&vt=4&pos=108&his=0&hd=1")
                    }else if(index == "2"){
                        window.open("https://k.sina.cn/article_1895394815_70f96dff02000k0p9.html?cre=tianyi&mod=whf&loc=3&r=0&rfunc=68&tj=cx_wap_whf&tr=182&vt=4&pos=108&his=0&http=fromhttp")
                    }else if(index == "1"){
                        window.open("http://www.jstdtncj.com/xxl06/007/")
                    }else if(index == "0"){
                        window.open("https://news.sina.cn/2019-06-27/detail-ihytcitk7942137.d.html?cre=tianyi&mod=whf&loc=1&r=25&rfunc=40&tj=cx_wap_whf&tr=187&vt=4&pos=108&his=0")
                    }
                    
                },
                returns() {

                    //alert('确定退出？')
                    this.show = true;

                }
                //this.$router.replace({path: '/'});
                //replace替换原路由，作用是避免回退死循环
            },
            mounted() {
                this.getdata();
                if (window.history && window.history.pushState) {
                    history.pushState(null, null, document.URL);
                    window.addEventListener('popstate', this.returns, false);
                }
            },
            destroyed() {
                window.removeEventListener('popstate', this.returns, false);
            },
        })

    </script>
</body>

</html>