<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sy.mapper.EquipmentMapper">
	<resultMap id="BaseResultMap" type="com.sy.pojo.Equipment">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="imei" property="imei" jdbcType="VARCHAR" />
		<result column="lordpower" property="lordpower" jdbcType="INTEGER" />
		<result column="signalxhao" property="signalxhao" jdbcType="VARCHAR" />
		<result column="bluetooth_type" property="bluetoothType"
			jdbcType="VARCHAR" />
		<result column="eq_status" property="eqStatus" jdbcType="VARCHAR" />
		<result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
		<result column="eqtype" property="eqtype" jdbcType="VARCHAR" />
		<result column="bluetooth_name" property="bluetoothName"
			jdbcType="VARCHAR" />
		<result column="bluetooth_status" property="bluetoothStatus"
			jdbcType="VARCHAR" />
		<result column="bluetooth_electricity" property="bluetoothElectricity"
			jdbcType="INTEGER" />
		<result column="clock" property="clock" jdbcType="VARCHAR" />
		<result column="phone1" property="phone1" jdbcType="VARCHAR" />
		<result column="phone2" property="phone2" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="VARCHAR" />
		<result column="uploadtime" property="uploadtime" jdbcType="TIMESTAMP" />
		<result column="bluetoothmac" property="bluetoothmac" jdbcType="VARCHAR" />
		<result column="bluetooth_list" property="bluetoothList"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, imei, lordpower, signalxhao, bluetooth_type, eq_status, createtime,
		updatetime,
		eqtype, bluetooth_name, bluetooth_status, bluetooth_electricity, clock,
		phone1, phone2,
		name, version, uploadtime, bluetoothmac
	</sql>
	<!-- 通过imei查询,目前用得上 -->
	<select id="getequipment" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select * from equipment where imei = #{imei} LIMIT 0, 1
	</select>

	<!-- 查询出imei的总数量 -->
	<select id="selectImei" resultType="java.lang.Object">
		select imei from equipment where imei in
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</select>
	<!-- 点击卡片查询设备信息 -->
	<select id="queryEquipmentMember" parameterType="java.lang.String"
		resultType="com.sy.utils.DataRow">
		SELECT
		tp.id,tp.lordpower,tp.eq_status,tp.eqtype,tp.bluetooth_type,tp.bluetooth_name,DATE_FORMAT(td.endTime,'%Y-%m-%d
		%H:%m:%s') as endTime,tp.bluetooth_list as bluetoothList FROM equipment tp
		INNER JOIN (SELECT * FROM user WHERE isDelete=0) tt
		ON tp.imei=tt.imei
		INNER JOIN member td
		ON tt.id=td.userId
		WHERE tp.imei=#{imei}
	</select>
</mapper>