<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sy.mapper.JfhealthMapper" >
  <resultMap id="BaseResultMap" type="com.sy.pojo.Jfhealth" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="HRV" property="HRV" jdbcType="INTEGER" />
    <result column="sbp_ave" property="sbpAve" jdbcType="INTEGER" />
    <result column="dbp_ave" property="dbpAve" jdbcType="INTEGER" />
    <result column="Heartrate" property="heartrate" jdbcType="INTEGER" />
    <result column="Bloodoxygen" property="bloodoxygen" jdbcType="INTEGER" />
    <result column="microcirculation" property="microcirculation" jdbcType="INTEGER" />
    <result column="respirationrate" property="respirationrate" jdbcType="INTEGER" />
    <result column="mood" property="mood" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="imei" property="imei" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
     <result column="Amedicalreport" property="amedicalreport" jdbcType="LONGVARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.sy.pojo.Jfhealth" extends="BaseResultMap" >
    <result column="Amedicalreport" property="amedicalreport" jdbcType="LONGVARCHAR" />
  </resultMap>
   <!-- 获取惊凡的健康数据 -->
    <resultMap type="com.sy.vo.Chart" id="ChartBaseResultMap" extends="BaseResultMap">
		<result column="HRV" property="HRV" jdbcType="INTEGER" />
		<result column="sbp_ave" property="sbpAve" jdbcType="INTEGER" />
		<result column="dbp_ave" property="dbpAve" jdbcType="INTEGER" />
		<result column="Heartrate" property="heartrate"
			jdbcType="INTEGER" />
		<result column="Bloodoxygen" property="bloodoxygen"
			jdbcType="INTEGER" />
		<result column="microcirculation" property="microcirculation"
			jdbcType="INTEGER" />
		<result column="respirationrate" property="respirationrate"
			jdbcType="INTEGER" />
		<result column="date" property="date" jdbcType="TIMESTAMP" />
	</resultMap> 
	  <!-- 获取树洪的健康数据 -->
	<resultMap type="com.sy.vo.SHChart" id="SHChartBaseResultMap" extends="BaseResultMap">
		<result column="sleeping" property="sleeping" jdbcType="INTEGER" />
		<result column="step_when" property="step_when" jdbcType="INTEGER" />
		<result column="date" property="date" jdbcType="TIMESTAMP" />
	</resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, HRV, sbp_ave, dbp_ave, Heartrate, Bloodoxygen, microcirculation, respirationrate,mood 
    phone, imei, createtime
  </sql>
  <sql id="Blob_Column_List" >
    Amedicalreport
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from jfhealth
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from jfhealth
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="com.sy.pojo.Jfhealth" >
    update jfhealth
    <set >
      <if test="HRV != null" >
        HRV = #{HRV,jdbcType=INTEGER},
      </if>
      <if test="sbpAve != null" >
        sbp_ave = #{sbpAve,jdbcType=INTEGER},
      </if>
      <if test="dbpAve != null" >
        dbp_ave = #{dbpAve,jdbcType=INTEGER},
      </if>
      <if test="heartrate != null" >
        Heartrate = #{heartrate,jdbcType=INTEGER},
      </if>
      <if test="bloodoxygen != null" >
        Bloodoxygen = #{bloodoxygen,jdbcType=INTEGER},
      </if>
      <if test="microcirculation != null" >
        microcirculation = #{microcirculation,jdbcType=INTEGER},
      </if>
      <if test="respirationrate != null" >
        respirationrate = #{respirationrate,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="imei != null" >
        imei = #{imei,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="amedicalreport != null" >
        Amedicalreport = #{amedicalreport,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sy.pojo.Jfhealth" >
    update jfhealth
    set HRV = #{HRV,jdbcType=INTEGER},
      sbp_ave = #{sbpAve,jdbcType=INTEGER},
      dbp_ave = #{dbpAve,jdbcType=INTEGER},
      Heartrate = #{heartrate,jdbcType=INTEGER},
      Bloodoxygen = #{bloodoxygen,jdbcType=INTEGER},
      microcirculation = #{microcirculation,jdbcType=INTEGER},
      respirationrate = #{respirationrate,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      imei = #{imei,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      Amedicalreport = #{amedicalreport,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sy.pojo.Jfhealth" >
    update jfhealth
    set HRV = #{HRV,jdbcType=INTEGER},
      sbp_ave = #{sbpAve,jdbcType=INTEGER},
      dbp_ave = #{dbpAve,jdbcType=INTEGER},
      Heartrate = #{heartrate,jdbcType=INTEGER},
      Bloodoxygen = #{bloodoxygen,jdbcType=INTEGER},
      microcirculation = #{microcirculation,jdbcType=INTEGER},
      respirationrate = #{respirationrate,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      imei = #{imei,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
   <!-- 11获取步数，睡眠健康数据（根据年月日 周）查找 -->
	<select id="selectSHChart" parameterType="java.util.Map"
		resultMap="SHChartBaseResultMap">
		<if
			test="service != null and service != '' and  service == 'year' ">
			SELECT CASE WHEN TRUNCATE(avg(step_when),0) IS null THEN 0 ELSE TRUNCATE(avg(step_when),0) END AS step_when,
			date_format(createtime, '%Y-%m-%d')
			as date
			FROM equipment_data WHERE DATE_FORMAT(createtime, '%Y') =
			#{timedata} AND
			user_id=#{userId} GROUP BY date_format(createtime,
			'%Y%m%d');
		</if>
		<if
			test="service != null and service != '' and  service == 'month' ">
			
			SELECT CASE WHEN TRUNCATE(avg(step_when),0) IS null THEN 0 ELSE TRUNCATE(avg(step_when),0) END AS step_when,
			date_format(createtime, '%Y-%m-%d')
			as date
			FROM equipment_data WHERE DATE_FORMAT(createtime, '%Y-%m') =
			#{timedata} AND
			user_id=#{userId} GROUP BY date_format(createtime,
			'%Y%m%d')
		</if>
		<if test="service != null and service != '' and  service == 'day' ">
			SELECT CASE WHEN TRUNCATE(avg(step_when),0) IS null THEN 0 ELSE TRUNCATE(avg(step_when),0) END AS step_when,
			date_format(createtime,'%Y-%m-%d %H:%i:%S') as date FROM equipment_data WHERE
			DATE_FORMAT(createtime,'%Y-%m-%d')=#{timedata} AND user_id=#{userId}
			GROUP BY date_format(createtime, '%Y%m%d %H:%i:%S');
		</if>
		<if
			test="service != null and service != '' and  service == 'week' ">
			SELECT CASE WHEN TRUNCATE(avg(step_when),0) IS null THEN 0 ELSE TRUNCATE(avg(step_when),0) END AS step_when,
			date_format(createtime, '%Y-%m-%d')
			as date FROM equipment_data WHERE
			YEARWEEK(DATE_FORMAT(createtime,'%Y-%m-%d'))=YEARWEEK(NOW()) AND
			user_id=#{userId}
			GROUP BY date_format(createtime, '%Y%m%d');
		</if>
	</select>
  
   <!-- 11获取血压,心率,血氧,呼吸,心跳变异(HRV),微循环数据 （根据年月日 周）查找 -->
	<select id="selecthealth" parameterType="java.util.Map"
		resultMap="ChartBaseResultMap">
		<if
			test="service != null and service != '' and  service == 'month' ">
			SELECT TRUNCATE(avg(HRV),0) as HRV,TRUNCATE(avg(sbp_ave),0) as sbp_ave,TRUNCATE(avg(dbp_ave),0) as dbp_ave,TRUNCATE(avg(Heartrate),0) as Heartrate,
			TRUNCATE(avg(Bloodoxygen),0) as Bloodoxygen,TRUNCATE(avg(microcirculation),0) as microcirculation,TRUNCATE(avg(respirationrate),0) as respirationrate,
			date_format(createtime, '%Y-%m-%d')
			as date FROM jfhealth WHERE DATE_FORMAT(createtime, '%Y-%m') =
			#{timedata} AND phone=#{userId}
			GROUP BY date_format(createtime,
			'%Y%m%d');
		</if>
		<if test="service != null and service != '' and  service == 'day' ">
			SELECT TRUNCATE(avg(HRV),0) as HRV,TRUNCATE(avg(sbp_ave),0) as sbp_ave,TRUNCATE(avg(dbp_ave),0) as dbp_ave,TRUNCATE(avg(Heartrate),0) as Heartrate,
			TRUNCATE(avg(Bloodoxygen),0) as Bloodoxygen,TRUNCATE(avg(microcirculation),0) as microcirculation,TRUNCATE(avg(respirationrate),0) as respirationrate,
			date_format(createtime,'%Y-%m-%d %H:%i:%S') as date FROM jfhealth WHERE
			DATE_FORMAT(createtime,'%Y-%m-%d')=#{timedata} AND phone=#{userId}
			GROUP BY date_format(createtime, '%Y%m%d %H:%i:%S');
		</if>
		<if
			test="service != null and service != '' and  service == 'week' ">
			SELECT TRUNCATE(avg(HRV),0) as HRV,TRUNCATE(avg(sbp_ave),0) as sbp_ave,TRUNCATE(avg(dbp_ave),0) as dbp_ave,TRUNCATE(avg(Heartrate),0) as Heartrate,
			TRUNCATE(avg(Bloodoxygen),0) as Bloodoxygen,TRUNCATE(avg(microcirculation),0) as microcirculation,TRUNCATE(avg(respirationrate),0) as respirationrate,
			date_format(createtime, '%Y-%m-%d')
			as date FROM jfhealth WHERE
			YEARWEEK(DATE_FORMAT(createtime,'%Y-%m-%d'))=YEARWEEK(NOW()) AND
			phone=#{userId}
			GROUP BY date_format(createtime, '%Y%m%d');
		</if>
	</select>
	<!-- 血压MAX,MIN,AVG,COUNTi(根据年月日 周)查找 -->
	<select id="selectBloodpressureInfo" parameterType="java.util.Map" resultType="java.util.HashMap">
		<if test="service != null and service != '' and  service == 'month' ">
			SELECT tt.*,new,createtime FROM (
			SELECT CONCAT(MAX(sbp_ave),'/',MAX(dbp_ave)) AS max,CONCAT(MIN(sbp_ave),'/',MIN(dbp_ave)) min,COUNT(*) AS count,CONCAT(ROUND(AVG(sbp_ave)),'/',ROUND(AVG(dbp_ave))) as avg,phone FROM jfhealth WHERE phone=#{userId} AND date_format(createtime,'%Y-%m')=#{timedata}
			)tt
			 INNER JOIN (
			SELECT tp.phone,CONCAT(sbp_ave,'/',dbp_ave) as new,date_format(tp.createtime,'%H:%i') as createtime FROM jfhealth tp
			 INNER JOIN (SELECT MAX(createtime) as createtime FROM jfhealth WHERE phone=#{userId} AND date_format(createtime,'%Y-%m')=#{timedata}) tt
			 ON tp.createtime=tt.createtime
			 WHERE tp.phone=#{userId} AND date_format(tp.createtime,'%Y-%m')=#{timedata}
			) tg
			 ON tt.phone=tg.phone
		</if>
		<if test="service != null and service != '' and  service == 'day' ">
			SELECT tt.*,new,createtime FROM (
			SELECT CONCAT(MAX(sbp_ave),'/',MAX(dbp_ave)) AS max,CONCAT(MIN(sbp_ave),'/',MIN(dbp_ave)) min,COUNT(*) AS count,CONCAT(ROUND(AVG(sbp_ave)),'/',ROUND(AVG(dbp_ave))) as avg,phone FROM jfhealth WHERE phone=#{userId} AND date_format(createtime,'%Y-%m-%d')=#{timedata}
			)tt
			 INNER JOIN (
			SELECT tp.phone,CONCAT(sbp_ave,'/',dbp_ave) as new,date_format(tp.createtime,'%H:%i') as createtime FROM jfhealth tp
			 INNER JOIN (SELECT MAX(createtime) as createtime FROM jfhealth WHERE phone=#{userId} AND date_format(createtime,'%Y-%m-%d')=#{timedata}) tt
			 ON tp.createtime=tt.createtime
			 WHERE tp.phone=#{userId} AND date_format(tp.createtime,'%Y-%m-%d')=#{timedata}
			) tg
			 ON tt.phone=tg.phone
		</if>
		<if test="service != null and service != '' and  service == 'week' ">
			SELECT tt.*,new,createtime FROM (
			SELECT CONCAT(MAX(sbp_ave),'/',MAX(dbp_ave)) AS max,CONCAT(MIN(sbp_ave),'/',MIN(dbp_ave)) min,COUNT(*) AS count,CONCAT(ROUND(AVG(sbp_ave)),'/',ROUND(AVG(dbp_ave))) as avg,phone FROM jfhealth WHERE phone=#{userId} AND YEARWEEK(date_format(createtime,'%Y-%m-%d')) =YEARWEEK(NOW())
			)tt
			 INNER JOIN (
			SELECT tp.phone,CONCAT(sbp_ave,'/',dbp_ave) as new,date_format(tp.createtime,'%H:%i') as createtime FROM jfhealth tp
			 INNER JOIN (SELECT MAX(createtime) as createtime FROM jfhealth WHERE phone=#{userId} AND YEARWEEK(date_format(createtime,'%Y-%m-%d')) =YEARWEEK(NOW())) tt
			 ON tp.createtime=tt.createtime
			 WHERE tp.phone=#{userId} AND YEARWEEK(date_format(tp.createtime,'%Y-%m-%d')) =YEARWEEK(NOW())
			) tg
			 ON tt.phone=tg.phone
		</if>
	</select>
	<!-- 心率MAX,MIN,AVG,COUNTi(根据年月日 周)查找 -->
	<select id="selectHeartRateInfo" parameterType="java.util.Map" resultType="java.util.HashMap">
		<if test="service != null and service != '' and  service == 'month' ">
			SELECT tt.*,new,createtime FROM (
			SELECT MAX(heartRate) as max,MIN(heartRate) AS min,COUNT(*) AS count,ROUND(AVG(heartRate)) AS avg,phone FROM jfhealth WHERE phone=#{userId} AND date_format(createtime,'%Y-%m')=#{timedata}
			)tt
			 INNER JOIN (
			SELECT tp.phone,heartRate as new,date_format(tp.createtime,'%H:%i') as createtime FROM jfhealth tp
			 INNER JOIN (SELECT MAX(createtime) as createtime FROM jfhealth WHERE phone=#{userId} AND date_format(createtime,'%Y-%m')=#{timedata}) tt
			 ON tp.createtime=tt.createtime
			 WHERE tp.phone=#{userId} AND date_format(tp.createtime,'%Y-%m')=#{timedata}
			) tg
			 ON tt.phone=tg.phone
		</if>
		<if test="service != null and service != '' and  service == 'day' ">
			SELECT tt.*,new,createtime FROM (
			SELECT MAX(heartRate) as max,MIN(heartRate) AS min,COUNT(*) AS count,ROUND(AVG(heartRate)) AS avg,phone FROM jfhealth WHERE phone=#{userId} AND date_format(createtime,'%Y-%m-%d')=#{timedata}
			)tt
			 INNER JOIN (
			SELECT tp.phone,heartRate as new,date_format(tp.createtime,'%H:%i') as createtime FROM jfhealth tp
			 INNER JOIN (SELECT MAX(createtime) as createtime FROM jfhealth WHERE phone=#{userId} AND date_format(createtime,'%Y-%m-%d')=#{timedata}) tt
			 ON tp.createtime=tt.createtime
			 WHERE tp.phone=#{userId} AND date_format(tp.createtime,'%Y-%m-%d')=#{timedata}
			) tg
			 ON tt.phone=tg.phone
		</if>
		<if test="service != null and service != '' and  service == 'week' ">
		SELECT tt.*,new,createtime FROM (
			SELECT MAX(heartRate) as max,MIN(heartRate) AS min,COUNT(*) AS count,ROUND(AVG(heartRate)) AS avg,phone FROM jfhealth WHERE phone=#{userId} AND YEARWEEK(date_format(createtime,'%Y-%m-%d')) =YEARWEEK(NOW())
			)tt
			 INNER JOIN (
			SELECT tp.phone,heartRate as new,date_format(tp.createtime,'%H:%i') as createtime FROM jfhealth tp
			 INNER JOIN (SELECT MAX(createtime) as createtime FROM jfhealth WHERE phone=#{userId} AND YEARWEEK(date_format(createtime,'%Y-%m-%d')) =YEARWEEK(NOW())) tt
			 ON tp.createtime=tt.createtime
			 WHERE tp.phone=#{userId} AND YEARWEEK(date_format(tp.createtime,'%Y-%m-%d')) =YEARWEEK(NOW())
			) tg
			 ON tt.phone=tg.phone
		</if>
	</select>
	<!-- HRBMAX,MIN,AVG,COUNTi(根据年月日 周)查找 -->
	<select id="selectHrvInfo" parameterType="java.util.Map" resultType="java.util.HashMap">
		<if test="service != null and service != '' and  service == 'month' ">
			SELECT tt.*,new,createtime FROM (
			SELECT MAX(HRV) as max,MIN(HRV) AS min,COUNT(*) AS count,ROUND(AVG(HRV)) AS avg,phone FROM jfhealth WHERE phone=#{userId} AND date_format(createtime,'%Y-%m')=#{timedata}
			)tt
			 INNER JOIN (
			SELECT tp.phone,HRV as new,date_format(tp.createtime,'%H:%i') as createtime FROM jfhealth tp
			 INNER JOIN (SELECT MAX(createtime) as createtime FROM jfhealth WHERE phone=#{userId} AND date_format(createtime,'%Y-%m')=#{timedata}) tt
			 ON tp.createtime=tt.createtime
			 WHERE tp.phone=#{userId} AND date_format(tp.createtime,'%Y-%m')=#{timedata}
			) tg
			 ON tt.phone=tg.phone
		</if>
		<if test="service != null and service != '' and  service == 'day' ">
			SELECT tt.*,new,createtime FROM (
			SELECT MAX(HRV) as max,MIN(HRV) AS min,COUNT(*) AS count,ROUND(AVG(HRV)) AS avg,phone FROM jfhealth WHERE phone=#{userId} AND date_format(createtime,'%Y-%m-%d')=#{timedata}
			)tt
			 INNER JOIN (
			SELECT tp.phone,HRV as new,date_format(tp.createtime,'%H:%i') as createtime FROM jfhealth tp
			 INNER JOIN (SELECT MAX(createtime) as createtime FROM jfhealth WHERE phone=#{userId} AND date_format(createtime,'%Y-%m-%d')=#{timedata}) tt
			 ON tp.createtime=tt.createtime
			 WHERE tp.phone=#{userId} AND date_format(tp.createtime,'%Y-%m-%d')=#{timedata}
			) tg
			 ON tt.phone=tg.phone
		</if>
		<if test="service != null and service != '' and  service == 'week' ">
		SELECT tt.*,new,createtime FROM (
			SELECT MAX(HRV) as max,MIN(HRV) AS min,COUNT(*) AS count,ROUND(AVG(HRV)) AS avg,phone FROM jfhealth WHERE phone=#{userId} AND YEARWEEK(date_format(createtime,'%Y-%m-%d')) =YEARWEEK(NOW())
			)tt
			 INNER JOIN (
			SELECT tp.phone,HRV as new,date_format(tp.createtime,'%H:%i') as createtime FROM jfhealth tp
			 INNER JOIN (SELECT MAX(createtime) as createtime FROM jfhealth WHERE phone=#{userId} AND YEARWEEK(date_format(createtime,'%Y-%m-%d')) =YEARWEEK(NOW())) tt
			 ON tp.createtime=tt.createtime
			 WHERE tp.phone=#{userId} AND YEARWEEK(date_format(tp.createtime,'%Y-%m-%d')) =YEARWEEK(NOW())
			) tg
			 ON tt.phone=tg.phone
		</if>
	</select>
	
	<!-- 步数MAX,MIN,AVG,COUNTi(根据年月日 周)查找 -->
	<select id="selectStepWhenInfo" parameterType="java.util.Map" resultType="java.util.HashMap">
		<if test="service != null and service != '' and  service == 'month' ">
			SELECT tt.new,tg.createtime,tv.max,tv.maxtime,tj.min,tj.mintime,tt.avg,kilometre FROM (
			SELECT COUNT(*) AS new,ROUND(AVG(step_when)) as avg,ROUND(COUNT(*)*50/100000) as kilometre,user_id FROM equipment_data WHERE user_id=#{userId} AND date_format(createtime,'%Y-%m') =#{timedata}
			)tt
			 INNER JOIN (
			SELECT tp.user_id,date_format(tp.createtime,'%H:%i') as createtime FROM equipment_data tp
			 INNER JOIN (SELECT MAX(createtime) as createtime FROM equipment_data WHERE user_id=#{userId} AND date_format(createtime,'%Y-%m') =#{timedata}) tt
			 ON tp.createtime=tt.createtime
			 WHERE user_id=#{userId} AND date_format(tp.createtime,'%Y-%m') =#{timedata}
			) tg
			 ON tt.user_id=tg.user_id
			 INNER JOIN (SELECT SUM(step_when) AS max,date_format(createtime,'%Y-%m-%d') as maxtime,user_id FROM equipment_data WHERE user_id=#{userId} AND date_format(createtime,'%Y-%m') =#{timedata} GROUP BY date_format(createtime,'%Y-%m') ORDER BY step_when DESC  LIMIT 0,1
			) tv
			 ON tg.user_id=tv.user_id
			 INNER JOIN (SELECT SUM(step_when) AS min,date_format(createtime,'%Y-%m-%d') as mintime,user_id FROM equipment_data WHERE user_id=#{userId} AND date_format(createtime,'%Y-%m') =#{timedata} GROUP BY date_format(createtime,'%Y-%m') ORDER BY step_when  LIMIT 0,1
			) tj
			 ON tg.user_id= tj.user_id
		</if>
		<if test="service != null and service != '' and  service == 'day' ">
			SELECT tt.new,tg.createtime,tv.max,tv.maxtime,tj.min,tj.mintime,tt.avg,kilometre FROM (
			SELECT COUNT(*) AS new,ROUND(AVG(step_when)) as avg,ROUND(COUNT(*)*50/100000) as kilometre,user_id FROM equipment_data WHERE user_id=#{userId} AND date_format(createtime,'%Y-%m-%d') =#{timedata}
			)tt
			 INNER JOIN (
			SELECT tp.user_id,date_format(tp.createtime,'%H:%i') as createtime FROM equipment_data tp
			 INNER JOIN (SELECT MAX(createtime) as createtime FROM equipment_data WHERE user_id=#{userId} AND date_format(createtime,'%Y-%m-%d') =#{timedata}) tt
			 ON tp.createtime=tt.createtime
			 WHERE user_id=#{userId} AND date_format(tp.createtime,'%Y-%m-%d') =#{timedata}
			) tg
			 ON tt.user_id=tg.user_id
			 INNER JOIN (SELECT SUM(step_when) AS max,date_format(createtime,'%Y-%m-%d') as maxtime,user_id FROM equipment_data WHERE user_id=#{userId} AND date_format(createtime,'%Y-%m-%d') =#{timedata} GROUP BY date_format(createtime,'%Y-%m') ORDER BY step_when DESC  LIMIT 0,1
			) tv
			 ON tg.user_id=tv.user_id
			 INNER JOIN (SELECT SUM(step_when) AS min,date_format(createtime,'%Y-%m-%d') as mintime,user_id FROM equipment_data WHERE user_id=#{userId} AND date_format(createtime,'%Y-%m-%d') =#{timedata} GROUP BY date_format(createtime,'%Y-%m') ORDER BY step_when  LIMIT 0,1
			) tj
			 ON tg.user_id= tj.user_id
		</if>
		<if test="service != null and service != '' and  service == 'week' ">
			SELECT tt.new,tg.createtime,tv.max,tv.maxtime,tj.min,tj.mintime,tt.avg,kilometre FROM (
			SELECT COUNT(*) AS new,ROUND(AVG(step_when)) as avg,ROUND(COUNT(*)*50/100000) as kilometre,user_id FROM equipment_data WHERE user_id=#{userId} AND YEARWEEK(date_format(createtime,'%Y-%m-%d')) =YEARWEEK(NOW())
			)tt
			 INNER JOIN (
			SELECT tp.user_id,date_format(tp.createtime,'%H:%i') as createtime FROM equipment_data tp
			 INNER JOIN (SELECT MAX(createtime) as createtime FROM equipment_data WHERE user_id=#{userId} AND YEARWEEK(date_format(createtime,'%Y-%m-%d')) =YEARWEEK(NOW())) tt
			 ON tp.createtime=tt.createtime
			 WHERE user_id=#{userId} AND YEARWEEK(date_format(tp.createtime,'%Y-%m-%d')) =YEARWEEK(NOW())
			) tg
			 ON tt.user_id=tg.user_id
			 INNER JOIN (SELECT SUM(step_when) AS max,date_format(createtime,'%Y-%m-%d') as maxtime,user_id FROM equipment_data WHERE user_id=#{userId} AND YEARWEEK(date_format(createtime,'%Y-%m-%d')) =YEARWEEK(NOW()) GROUP BY date_format(createtime,'%Y-%m') ORDER BY step_when DESC  LIMIT 0,1
			) tv
			 ON tg.user_id=tv.user_id
			 INNER JOIN (SELECT SUM(step_when) AS min,date_format(createtime,'%Y-%m-%d') as mintime,user_id FROM equipment_data WHERE user_id=#{userId} AND YEARWEEK(date_format(createtime,'%Y-%m-%d')) =YEARWEEK(NOW()) GROUP BY date_format(createtime,'%Y-%m') ORDER BY step_when  LIMIT 0,1
			) tj
			 ON tg.user_id= tj.user_id
		</if>
	</select>
	
	
	
	
	
	
	
	
	
	
	
	 <select id="getcount" parameterType="java.lang.String" resultType="java.lang.Integer">
      select count(*) from  jfhealth 
      <if test="_parameter != null and _parameter != '' ">
   			 where  CONCAT(imei)  LIKE concat(concat('%',#{_parameter}),'%')
  	  </if> 
  </select>
	 <select id="getcount2" parameterType="java.util.Map" resultType="java.lang.Integer">
      select count(id) from  jfhealth where 1=1
      <if test="keyWord != null and keyWord != '' ">
   			 and  CONCAT(imei)  LIKE concat(concat('%',#{keyWord}),'%')
  	  </if> 
      <if test="time != null and time != '' ">
   			 and  createtime  LIKE concat(concat('%',#{time}),'%')
  	  </if> 
      <if test="phone != null and phone != '' ">
   			 and  phone  LIKE concat(concat('%',#{phone}),'%')
  	  </if> 
  	  <if test="list != null" >
   			 and  imei in
                  <foreach item="item" index="index" collection="list" 
                         open="(" separator="," close=")">
                        #{item}
                 </foreach>
  		</if> 
  </select>
  <!-- 获取想要的页面数据 -->
  <select id="list" parameterType="java.util.Map" resultMap="BaseResultMap">
   select id,HRV,sbp_ave,dbp_ave,Heartrate,Bloodoxygen,microcirculation,respirationrate,imei,Amedicalreport,
    createtime,substring(phone,9,10) as phone FROM jfhealth where 1 =1
    
   		<if test="keyWord != null and keyWord != '' ">
   			 and  CONCAT(imei)  LIKE concat(concat('%',#{keyWord}),'%')
  		</if> 
   		<if test="time != null and time != '' ">
   			 and  createtime  LIKE concat(concat('%',#{time}),'%')
  		</if> 
   		<if test="phone != null and phone != '' ">
   			 and  phone  LIKE concat(concat('%',#{phone}),'%')
  		</if> 
   		<if test="list != null" >
   			 and  imei in
                  <foreach item="item" index="index" collection="list" 
                         open="(" separator="," close=")">
                        #{item}
                 </foreach>
  		</if> 
  		 order by id desc
   limit #{pageNo},#{pageSize} 
  </select>
  <select id="newjfhealth" parameterType="java.lang.String"  resultMap="BaseResultMap">
	 SELECT *  
			FROM jfhealth where imei=#{imei}
			ORDER BY createtime desc 
			LIMIT 0, 1
  </select>
  <!-- 啊健(极光推送获取惊凡最新健康数据) -->
  <select id="pushJfhealth" parameterType="java.lang.String"  resultMap="BaseResultMap">
  	SELECT *FROM jfhealth WHERE phone =#{alias} ORDER BY createtime LIMIT 0,1
  </select>
  <delete id="deletejfhealth" parameterType="java.lang.String" >
  	delete from jfhealth where phone = #{phone}
  </delete>
</mapper>