<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sy.mapper.MessageMapper" >
  <resultMap id="BaseResultMap" type="com.sy.pojo.Message" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="alias" property="alias" jdbcType="INTEGER" />
    <result column="userId" property="userId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="read" property="read" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
	
  </resultMap>
  <sql id="Base_Column_List" >
    id, alias,userId,image,title, content,read,createtime
  </sql>
  <!-- 消息中心 -->
  <select id="queryMessageCenter"  parameterType="com.sy.utils.DataRow" resultType="com.sy.utils.DataRow">
  		SELECT id,type,alias,userId,title,`read`,content,DATE_FORMAT(createtime,'%H:%m:%d') as createtime FROM message
  		where alias=#{alias} and DATE_FORMAT(createTime,'%Y-%m-%d')=DATE_FORMAT(NOW(),'%Y-%m-%d')
  </select>
   <!-- 消息中心总数 -->
  <select id="queryMessageCount"  parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		SELECT COUNT(*) FROM message WHERE alias=#{alias} and `read`=0 and DATE_FORMAT(createtime,'%Y-%m-%d')=DATE_FORMAT(NOW(),'%Y-%m-%d')
  </select>
  
  
  
</mapper>