<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sy.mapper.UserEqMapper">
	<resultMap id="BaseResultMap" type="com.sy.pojo.UserEq">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="eq_id" property="eqId" jdbcType="INTEGER" />
		<result column="typeof" property="typeof" jdbcType="INTEGER" />
		<result column="authorized" property="authorized" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, eq_id, typeof, authorized
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from user_eq
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from user_eq
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.sy.pojo.UserEq">
		insert into user_eq (id, user_id, eq_id,
		typeof, authorized)
		values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
		#{eqId,jdbcType=INTEGER},
		#{typeof,jdbcType=INTEGER}, #{authorized,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.sy.pojo.UserEq">
		insert into user_eq
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="eqId != null">
				eq_id,
			</if>
			<if test="typeof != null">
				typeof,
			</if>
			<if test="authorized != null">
				authorized,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="eqId != null">
				#{eqId,jdbcType=INTEGER},
			</if>
			<if test="typeof != null">
				#{typeof,jdbcType=INTEGER},
			</if>
			<if test="authorized != null">
				#{authorized,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.sy.pojo.UserEq">
		update user_eq
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="eqId != null">
				eq_id = #{eqId,jdbcType=INTEGER},
			</if>
			<if test="typeof != null">
				typeof = #{typeof,jdbcType=INTEGER},
			</if>
			<if test="authorized != null">
				authorized = #{authorized,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.sy.pojo.UserEq">
		update user_eq
		set user_id = #{userId,jdbcType=INTEGER},
		eq_id = #{eqId,jdbcType=INTEGER},
		typeof = #{typeof,jdbcType=INTEGER},
		authorized = #{authorized,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="getuserimei2" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select * from user_eq where eq_id=#{eqId} and typeof = 2   
			LIMIT 0, 1 
	</select>
	<select id="geteqid"  parameterType="java.lang.Integer" resultType="java.lang.Integer">
	     select eq_id  from user_eq     where   user_id = #{userId}  and  typeof=2
	</select>
	<select id="selectguardianship" parameterType="java.lang.Integer" resultMap="BaseResultMap">
	     select * from user_eq   where  user_id=#{userId}  and typeof=0
	</select>
	<select id="ifguardianship" parameterType="java.lang.Integer"   resultMap="BaseResultMap">
	    select * from user_eq where eq_id=#{eqId} and  typeof = 0
	</select>
	<select id="ifuse" parameterType="java.lang.Integer"   resultMap="BaseResultMap">
	     select * from user_eq   where  eq_id=#{eqId}  and typeof = 2
	</select>
	<select id="ifObserved" parameterType="java.lang.Integer"   resultMap="BaseResultMap">
	     select * from user_eq   where  eq_id=#{eqId}  and typeof=1  and user_id=#{userId}
	</select>
	<select id="selelctequser" parameterType="java.lang.Integer" resultMap="BaseResultMap">
	  	 select * from user_eq   where  eq_id = #{eqId} 
	</select>

	
	<delete id="deleteequse" parameterType="com.sy.pojo.UserEq"  >
	    delete from user_eq   where   typeof = 1  and eq_id = #{eqId}  and user_id = #{userId} 
	</delete>
	<delete id="deleteequsetype" parameterType="com.sy.pojo.UserEq"  >
	    delete from user_eq   where   user_id=#{userId}  and eq_id = #{eqId}  and typeof=#{typeof}
	</delete>
	<select id="selectuserqe" parameterType="java.lang.Integer" resultMap="BaseResultMap" >
	          select *  from user_eq     where   user_id = #{userId} 
	</select>
	
	<select id="selectGuardian"  resultMap="BaseResultMap" >
	         select * from user_eq where eq_id = #{eqId} and user_id = #{mid} and typeof = 0
	</select>
	
	<select id="geteqiduse"  parameterType="java.lang.Integer" resultType="java.lang.Integer">
	 select  eq_id  from user_eq     where   user_id = #{userId}  and  typeof=2
	</select>
	<delete id="deleteguardian"  parameterType="java.lang.Integer"  >
	  delete from user_eq where eq_id = #{eqId}
	</delete>
	<delete id="deleteuserid"  parameterType="java.lang.Integer"   >
	  delete from user_eq   where  user_id = #{userId}
	</delete>
	<!-- 通过监护者ID查询出使用者ID -->
	<select id="queryUserIdUserEq" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT tp.*,td.name,td.role  FROM user_eq tp
		INNER JOIN (SELECT * FROM user_eq WHERE user_id=#{userId} AND typeof='0') tt
		ON tp.eq_id=tt.eq_id AND tp.typeof='2'
		INNER JOIN (select * from user where isDelete=0) td
		ON tp.user_id=td.id
	</select>
	<!-- 通过监护者ID查询首页需要的数据-->
	<select id="queryUserEq" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT tp.user_id as userId,tp.eq_id,td.name,tc.eq_status,tv.positioning_data,td.avatar,tc.imei,td.age,tp.typeof as type_of FROM user_eq tp
		INNER JOIN (SELECT * FROM user_eq WHERE user_id=#{userId} AND typeof='0') tt
		ON tp.eq_id=tt.eq_id AND tp.typeof='2'
		INNER JOIN user td
		ON tp.user_id=td.id
		INNER JOIN equipment tc
		ON td.imei=tc.imei
		LEFT JOIN (SELECT * FROM positionig ORDER BY cratetime DESC LIMIT 1) tv
		ON tc.imei=tv.imei
		WHERE td.follow=1 and isDelete=0
	</select>
	<!-- 查询关注人使用者列表-->
	<select id="queryUserEqFollowUsersList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT tp.user_id,tc.name,tc.avatar,tc.follow,td.lordpower,td.eq_status,td.bluetooth_type,tp.typeof as type_of FROM user_eq tp
		INNER JOIN (SELECT * FROM user_eq WHERE typeof=0 AND user_id=#{userId}) tt
		ON tp.eq_id=tt.eq_id and tp.typeof=2
		INNER JOIN equipment td
		ON tp.eq_id=td.id
		INNER JOIN (SELECT * FROM user WHERE isDelete=0) tc
		ON tp.user_id=tc.id
	</select>
	<!-- 查询关注人观察者列表-->
	<select id="queryUserEqFollowObserverList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT tp.user_id,tc.name,tc.avatar,tc.follow,td.lordpower,td.eq_status,td.bluetooth_type,tt.typeof as type_of FROM user_eq tp
		INNER JOIN (SELECT * FROM user_eq WHERE  typeof=1 AND user_id=#{userId}) tt
		ON tp.eq_id=tt.eq_id and tp.typeof=2
		INNER JOIN equipment td
		ON tp.eq_id=td.id
		INNER JOIN (SELECT * FROM user WHERE isDelete=0) tc
		ON tp.user_id=tc.id
	</select>
</mapper>